.wraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.title{
  height:50px;
  line-height: 50px;
  text-align: center;
}
.containerPub{
  padding-left: 10px;
  padding-right: 10px;
}
.head{
  margin-bottom: 30px;
}
.btn{
  margin-top: 30px;
}
.braft{
  border:1px solid #ccc;
  margin-top: 30px;
}