.mcontainer{
    display: flex;
    flex:1;
    flex-direction: column;
  }
  .left{
    width:260px;
  }
  .right{
    display: flex;
    flex:1;
    justify-content: center;
  }
  .ant-table-wrapper{
    flex:1
  }
  .mtitle{
    padding-left: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center
  }