.home-container{
    flex:1;
    justify-content:center;
    display: flex;
    flex-direction: column;
    }
.container-detail{
        display:flex;
        flex:1;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
}
    .detail{
        align-items: center;
    display: flex;
    flex-direction: column;
    }